[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RcppHungarian"]
	path = RcppHungarian
	url = https://github.com/jsilve24/rcpphungarian
[submodule "fido"]
	path = fido
	url = https://github.com/jsilve24/fido
