[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MicrobeDS"]
	path = MicrobeDS
	url = https://github.com/twbattaglia/MicrobeDS
	registered = false
[submodule "RcppHungarian"]
	path = RcppHungarian
	url = https://github.com/jsilve24/rcpphungarian
[submodule "fido"]
	path = fido
	url = https://github.com/jsilve24/fido
[submodule "philr"]
	path = philr
	url = https://github.com/jsilve24/philr
